@model Dictionary<string, string>

<p>Filtruj według typu:</p>
@foreach(var type in Model)
{
    <a class="btn btn-block @(type.Key == ViewBag.SelectedType ? "btn-secondary" : "btn-outline-dark" )"
       asp-action="Index"
       asp-controller="DigitalEntity"
       asp-route-type="@type.Key">
        @type.Value
    </a>
}