@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj!</h1>
    <p>
        To jest strona główna aplikacji internetowej umożliwiającej gromadzenie
        i przetwarzanie informacji o domowej biblioteczce multimediów, książek i czasopism.
    </p>
</div>
